body {
  background: conic-gradient(from 0.5turn at center left, lime, cyan);
}

.container {
  width: 95%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digitalClock {
  width: fit-content;
  margin: auto;
  padding: 10px;
  border-radius: 2px;
  color: #0f8edd;
  background: rgba(0, 0, 0, 0.1);
}

.digitalClock h1 {
  display: inline-flex;
  margin: 0 10px;
  font-weight: bold;
  font-size: 5em;
}

@media (max-width: 1024px) {
  .digitalClock h1 {
    font-size: 3.5em;
  }
}

@media (max-width: 768px) {
  .digitalClock h1 {
    font-size: 2.5em;
    display: block;
    text-align: center;
  }
  #bar1,
  #bar2,
  #second {
    display: none;
  }
}

@media (max-width: 480px) {
  .digitalClock h1 {
    font-size: 1.5em;
    display: block;
    text-align: center;
  }
  #bar1,
  #bar2,
  #second {
    display: none;
  }
}

@media (max-width: 320px) {
  .digitalClock h1 {
    font-size: 1em;
    display: block;
    text-align: center;
  }
  #bar1,
  #bar2,
  #second {
    display: none;
  }
}
